@page "/index"
@page "/"

<PageTitle>Venta Galaxy</PageTitle>

<div id="imagen-de-fondo">
</div>
<div class="row gx-3 mt-2 w-100 justify-content-end">
    <div class="col">
        <div class="card">
            <div class="card card-body align-items-center">
                <img src="assets/images/ventaproductos.png" alt="Compra de Productos" decoding="async" loading="lazy" height="90" width="90" />
                <h4>Compra de Productos</h4>
                <p>No esperes para disfrutar!</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card card-body align-items-center">
                <img src="assets/images/historial.png" alt="Historial de tus Compras" decoding="async" loading="lazy" height="90" width="90" />
                <h4>Historial de tus compras</h4>
                <p>Revisa tu Historial de compras</p>
            </div>
        </div>
    </div>
</div>